<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="dark-pastel-menu">
      <ion-content>
        <!-- Perfil do Usuário -->
        <div class="user-profile">
          <ion-avatar>
            <img src="assets/doppio.jpeg" alt="Foto do Usuário">
          </ion-avatar>
          <h2>Bem-vindo</h2>
          <p>Usuário</p>
        </div>

        <!-- Menu Principal -->
        <ion-list id="main-list" lines="none">
          @for (p of appPages; track p) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }

          <!-- Menu Admin -->
          <ion-item (click)="toggleAdminMenu()" class="admin-toggle" lines="none">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ion-label>Administração</ion-label>
            <ion-icon slot="end" [name]="isAdminOpen ? 'chevron-up' : 'chevron-down'"></ion-icon>
          </ion-item>

          <div class="admin-submenu" [class.open]="isAdminOpen">
            @for (p of adminPages; track p) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            }
          </div>
        </ion-list>

        <!-- Botão de Logout -->
        <ion-list lines="none" class="logout-section">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none" button>
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>